<div id="profile_container">
  <p id="name"><strong>Name:</strong> <%= @user.name %></p>
  <p id="opinion"><strong>Opinion:</strong> <%= @user.opinions.last.content %></p>
</div>
<div class="clear"></div>
