<div id="profile_container">
  <p id="name"><strong>Name:</strong> <%= @user.name %></p>
  <p id="username"><strong>Username:</strong> <%= @user.username %></p>
  <p id="opinion"><strong>Opinion:</strong> <%= @user.opinion.content %></p>
</div>
<div class="clear"></div>
