<div id="form">
  <%= semantic_form_for @reset, :html => {:class => "list"} do |f| %>
    <h1><%= reset(:password) %></h1>
    <%= f.input :email %>
    <%= f.submit t2(:send,:reset_password_instructions), :class => :submit %>
  <% end %>
</div>
<div class="clear"></div>
